html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.CodeMirror {
    width: 100%;
    height: 100%;
}

.cm-matchhighlight {
    border-bottom: dashed 1px;
}
